@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "footer";
@import "main";
@import "cards";
@import "navbar";
@import "variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media all and (max-width: 576px) {
    .imgSlider {
      height: 25vh;
      object-fit: cover;
    }
  }